# Python / Jupyter
__pycache__/
.ipynb_checkpoints/
*.pyc

# Notebooks & outputs
*.ipynb

# Models & large binaries (don't commit by default)
*.h5
saved_models/
best_model.h5

# Data (keep raw datasets out of repo)
images/raw/
data/

# OS & editor
.DS_Store
Thumbs.db
.vscode/
"saved_models/best_model.h5" 
